<div class="blog-card-item">
  <div class="blog-card-head">
    <a href="{{ article.url }}" class="thumbnail-img">
      {% if article.image %}
        <img src="{{ article.image |  img_url: 'master' }}" alt="{{ article.image.alt }}" height="auto" width="auto">
      {% else %}
        <img
          src="{{ 'product-placeholder-image.webp' |  asset_url }}"
          height="auto"
          width="auto"
          alt="bloglisting-thumb"
        >
      {% endif %}
      <a href="{{ article.url }}" class="read-more-btn">Read More</a>
    </a>
    <div class="category-name">
      <a href="{{ article.url }}">{{ article.tags }}</a>
    </div>
  </div>
  <div class="blog-card-body">
    <a href="{{ article.url }}" class="title">
      <h2>{{ article.title }}</h2>
    </a>
    <div class="post-date">
      <p>
        <img src="{{ 'calendar.png' |  asset_url }}" width="auto" alt="calendar-icon" height="16">
        {{ article.published_at | date: '%B %d, %Y' }}
      </p>
      /
      <p>
        <img src="{{ 'eye-icon.png' |  asset_url }}" width="auto" alt="eye-icon" height="12">
        2218
      </p>
      /
      <a href="{{ article.url }}"
        ><img
          src="{{ 'chat.png' |  asset_url }}"
          width="auto"
          alt="calendar-icon"
          height="16"
        >
        {{ article.comments_count -}}
      </a>
    </div>
    <div class="blog-description">
      {% if article.excerpt_or_content.size > 0 %}
        <p>{{ article.excerpt_or_content | strip_html | truncatewords: 100 }}</p>
      {% endif %}
    </div>
    <a href="{{ article.url }}">
      <span>Continue Reading</span>
      <svg
        width="28"
        height="28"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M9.5 7L14.5 12L9.5 17" stroke="#6AA5CB" stroke-linecap="round"
            stroke-linejoin="round" />
      </svg>
    </a>
  </div>
</div>
