<div class="product-card">
  <div class="card-img-container">
    <a href="{{ collection.url }}" class="img-wrapper">
      {% if collection.featured_image != blank %}
        {% assign collection_image = collection.featured_image %}
      {% else %}
        {% assign collection_image = collection.products.first.image %}
      {% endif %}
      <img
        class="rounded-t-lg w-full object-cover"
        src="{{ collection_image | img_url: 'medium' }}"
        alt="{{ collection.title |  escape }}"
        width="250"
        height="250"
      >
    </a>
  </div>
  <div class="product-card-content">
    <a href="{{ collection.url }}">
      {% assign title_words = collection.title | split: ' ' %}
      <h3 title="{{ collection.title }}" class="mb-0">
        {{ title_words | slice: 0, 3 | join: ' ' }}
        {% if title_words.size > 3 %}...{% endif %}
      </h3>
    </a>
    <a
      href="{{ collection.url }}"
      class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-black bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    >
      See Collection
      <svg
        class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        width="10"
        viewBox="0 0 14 10"
      >
        <path
          stroke="#000"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 5h12m0 0L9 1m4 4L9 9" />
      </svg>
    </a>
  </div>
</div>
