<div class="blog-card-item">
  <div class="blog-card-head">
    <a href="{{ article.url }}" class="thumbnail-img">
      {% if article.image %}
        <img
          width="auto"
          height="auto"
          src="{{ article.image |  img_url: 'master' }}"
          alt="{{ article.image.alt }}"
        >
      {% else %}
        <img src="{{ 'product-placeholder-image.webp' |  asset_url }}" width="auto" height="auto" alt="thumbnail-img">
      {% endif %}
    </a>
    <div class="category-name">
      <a href="{{ article.url }}">{{ article.tags }}</a>
    </div>
  </div>
  <div class="blog-card-body">
    <a href="{{ article.url }}" class="title">
      <h2>{{ article.title }}</h2>
    </a>
    <div class="post-date">
      <p>
        <img
          src="{{ 'calendar.png' |  asset_url }}"
          width="15"
          height="15"
          alt="calendar-icon"
          height="16"
        >
        {{ article.published_at | date: '%B %d, %Y' }}
      </p>

      <a href="{{ article.url }}"
        ><img
          src="{{ 'chat.png' |  asset_url }}"
          width="15"
          height="15"
          alt="calendar-icon"
          height="16"
        >
        {{ article.comments_count -}}
      </a>
    </div>
    <div class="blog-description">
      {{ article.content | strip_html | truncatewords: 100 }}
    </div>
    <a href="{{ article.url }}">
      <span>Continue Reading</span>
      <svg
        width="28"
        height="28"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M9.5 7L14.5 12L9.5 17" stroke="#6AA5CB" stroke-linecap="round"
            stroke-linejoin="round" />
      </svg>
    </a>
  </div>
</div>
