{% if pagination.pages > 0 %}
  {{ pagination | default_pagination }}
  <nav role="navigation" class="flex justify-center my-8">
    {% if pagination.previous %}
      <a href="{{ pagination.previous.url }}" class="border bordergray-600 text-gray-600 hover:text-gray-300">{{ pagination.previous.title }}</a>
    {% endif %}
    {% for part in pagination.parts %}
      {% if part.is_link %}
        <a href="{{ part.url }}" class="border bordergray-600 text-gray-600 hover:text-gray-300">{{ part.title }}</a>
      {% else %}
        <span class="border bordergray-600 text-gray-600 hover:text-gray-300">{{ part.title }}</span>
      {% endif %}
    {% endfor %}
    {% if pagination.next %}
      <a href="{{ pagination.next.url }}" class="border bordergray-600 text-gray-600 hover:text-gray-300">{{ pagination.next.title }}</a>
    {% endif %}
  </nav>
{% endif %}