{% assign unique_string = product.title | append: now | replace: ':', '' | replace: ' ', '-' %}
<div class="product-card">
  <div class="card-img-container">
    {% comment %} <div class="swym-wishlist-collections-v2-container">
      <div class="swym-wishlist-collections-v2" data-product-id="{{ product.id }}">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_620_406)">
          <path class="swym-wishlist-collections-icon-heart-filled" d="M12 21C11.8684 21.0008 11.7379 20.9755 11.6161 20.9258C11.4943 20.876 11.3834 20.8027 11.29 20.71L3.52 12.93C2.54536 11.9452 1.99866 10.6156 1.99866 9.23C1.99866 7.84443 2.54536 6.51482 3.52 5.53C4.50226 4.55051 5.83283 4.00047 7.22 4.00047C8.60717 4.00047 9.93774 4.55051 10.92 5.53L12 6.61L13.08 5.53C14.0623 4.55051 15.3928 4.00047 16.78 4.00047C18.1672 4.00047 19.4977 4.55051 20.48 5.53C21.4546 6.51482 22.0013 7.84443 22.0013 9.23C22.0013 10.6156 21.4546 11.9452 20.48 12.93L12.71 20.71C12.6166 20.8027 12.5057 20.876 12.3839 20.9258C12.2621 20.9755 12.1316 21.0008 12 21Z"></path>
          </g>
          <defs><clipPath id="clip0_620_406">  <rect width="24" height="24" fill="white"></rect></clipPath></defs>
        </svg>
      </div>
    </div> {% endcomment %}
    {% comment %}
      <button
        data-with-epi="true"
        data-swaction="addToWishlist"
        data-product-id="{{ product.id }}"
        data-variant-id="{{ product.variants[0].id }}"
        data-product-url="{{ shop.url }}{{ product.url }}"
        class="colorButton swym-button swym-add-to-wishlist bg-transparent"
      >
        <i class="bi bi-heart-fill"></i>
      </button>
      <div class="swym-wishlist-collections-v2-container">
        <div
          class="swym-wishlist-collections-v2"
          style="transform: translate(0px, 0px);"
          data-product-id="https://eyesight-clear.myshopify.com/products/armani-exchange-look"
        >
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_620_406)">
            <path class="swym-wishlist-collections-icon-heart-filled" d="M12 21C11.8684 21.0008 11.7379 20.9755 11.6161 20.9258C11.4943 20.876 11.3834 20.8027 11.29 20.71L3.52 12.93C2.54536 11.9452 1.99866 10.6156 1.99866 9.23C1.99866 7.84443 2.54536 6.51482 3.52 5.53C4.50226 4.55051 5.83283 4.00047 7.22 4.00047C8.60717 4.00047 9.93774 4.55051 10.92 5.53L12 6.61L13.08 5.53C14.0623 4.55051 15.3928 4.00047 16.78 4.00047C18.1672 4.00047 19.4977 4.55051 20.48 5.53C21.4546 6.51482 22.0013 7.84443 22.0013 9.23C22.0013 10.6156 21.4546 11.9452 20.48 12.93L12.71 20.71C12.6166 20.8027 12.5057 20.876 12.3839 20.9258C12.2621 20.9755 12.1316 21.0008 12 21Z"></path>
            </g>
            <defs><clipPath id="clip0_620_406">  <rect width="24" height="24" fill="white"></rect></clipPath></defs>
          </svg>
        </div>
      </div>
    {% endcomment %}

    <div id="{{ unique_string }}" class="carousel slide product-img-slider">
      <div class="carousel-inner">
        {% if product.images.size > 0 %}
          {% for image in product.images %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
              <a href="{{ product.url }}" class="img-wrapper">
                <img
                  class="d-block w-100"
                  height="auto"
                  width="auto"
                  src="{{ image | img_url: 'master' }}"
                  alt="{{ image.alt | escape }}"
                >
              </a>
            </div>
          {% endfor %}
        {% else %}
          <div class="carousel-item active">
            <a href="{{ product.url }}" class="img-wrapper">
              <div class="img-fluid">{{ 'product-1' | placeholder_svg_tag: '' }}</div>
            </a>
          </div>
        {% endif %}
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#{{ unique_string }}" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#{{ unique_string }}" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </button>
    </div>
    <a
      href="javascript:void(0);"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#{{ unique_string }}-offcanvasScrolling"
      aria-controls="offcanvasScrolling"
      class="quick-view"
      ><span>Quick View</span></a
    >
  </div>
  <div class="product-card-content">
    <a href="{{ product.url }}">
      {% assign title_words = product.title | split: ' ' %}
      <h3 title="{{ product.title }}">
        {{ title_words | slice: 0, 3 | join: ' ' }}
        {% if title_words.size > 3 %}...{% endif %}
      </h3>
    </a>
    <div class="product-rating">
      <!-- Start of Judge.me code -->
      <div class="jdgm-widget jdgm-preview-badge" data-id="{{ product.id }}">
        {{ product.metafields.judgeme.badge }}
      </div>
      <!-- End of Judge.me code -->
    </div>
    <p class="price">{{ product.price | money }}</p>
  </div>
</div>
{% render 'quick-view-sidebar', product: product, unique_string: unique_string %}

<script>
  document.querySelectorAll('.colorButton').forEach((button) => {
    button.addEventListener('click', function () {
      const icon = this.querySelector('i');
      if (icon) {
        icon.classList.add('text-primary');
      }
    });
  });
</script>
