{% assign unique_string = product.title | append: now | replace: ':', '' | replace: ' ', '-' %}
<div class="product-card">
  <div class="card-img-container">
    <button
      data-with-epi="true"
      data-swaction="addToWishlist"
      data-product-id="{{ product.id }}"
      data-variant-id="{{ product.variants[0].id }}"
      data-product-url="{{ shop.url }}{{ product.url }}"
      class="colorButton swym-button swym-add-to-wishlist bg-transparent">
      <i class="bi bi-heart-fill"></i>
    </button>

    <div id="{{ unique_string }}" class="carousel slide product-img-slider">
      <div class="carousel-inner">
        {% if product.images.size > 0 %}
          {% for image in product.images %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
              <a href="{{ product.url }}" class="img-wrapper">
                <img
                  class="d-block w-100"
                  height="auto"
                  width="auto"
                  src="{{ image | img_url: 'master' }}"
                  alt="{{ image.alt | escape }}"
                >
              </a>
            </div>
          {% endfor %}
        {% else %}
          <div class="carousel-item active">
            <a href="{{ product.url }}" class="img-wrapper">
              <div class="img-fluid">{{ 'product-1' | placeholder_svg_tag: '' }}</div>
            </a>
          </div>
        {% endif %}
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#{{ unique_string }}" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#{{ unique_string }}" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </button>
    </div>
    <a
      href="javascript:void(0);"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#{{ unique_string }}-offcanvasScrolling"
      aria-controls="offcanvasScrolling"
      class="quick-view"
      ><span>Quick View</span></a
    >
  </div>
  <div class="product-card-content">
    <a href="{{ product.url }}">
      {% assign title_words = product.title | split: ' ' %}
      <h3 title="{{ product.title }}">
        {{ title_words | slice: 0, 3 | join: ' ' }}
        {% if title_words.size > 3 %}...{% endif %}
      </h3>
    </a>
    <div class="product-rating">
      <!-- Start of Judge.me code -->
      <div class="jdgm-widget jdgm-preview-badge" data-id="{{ product.id }}">
        {{ product.metafields.judgeme.badge }}
      </div>
      <!-- End of Judge.me code -->
    </div>
    <p class="price">${{ product.price | money_without_currency }}</p>
  </div>
</div>
{% render 'quick-view-sidebar', product: product, unique_string: unique_string %}

<script>

  document.querySelectorAll('.colorButton').forEach((button) => {
    button.addEventListener('click', function () {
      const icon = this.querySelector('i');
      if (icon) {
        icon.classList.add('text-primary');
      }
    });
  });
</script>
