<div
  class="offcanvas offcanvas-end"
  tabindex="-1"
  id="{{ unique_string }}-offcanvasScrolling"
  aria-labelledby="{{ unique_string }}-offcanvasScrollingLabel"
>
  <div>
    <button
      type="button"
      class="btn-close sidebar-quick-veiw"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="quick-veiw-sidebar-body">
    <div id="{{ unique_string }}" class="carousel slide product-img-slider">
      <div class="carousel-inner">
        {% if product.images.size > 0 %}
          {% for image in product.images %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
              <img
                class="d-block w-100"
                height="auto"
                width="auto"
                src="{{ image | img_url: 'master' }}"
                alt="{{ image.alt | escape }}"
                data-bs-toggle="modal"
                data-bs-target="#{{ unique_string }}-exampleModal"
              >
            </div>
          {% endfor %}
        {% else %}
          <div class="carousel-item active">
            <div class="img-fluid">{{ 'product-1' | placeholder_svg_tag: 'w-100 h-100' }}</div>
          </div>
        {% endif %}
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#{{ unique_string }}" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#{{ unique_string }}" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </button>
    </div>
    {% comment %} <!-- Image Modal --> {% endcomment %}
    <div
      class="modal fullScreenImageSlider fade"
      id="{{ unique_string }}-exampleModal"
      tabindex="-1"
      aria-labelledby="{{ unique_string }}-exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header border-bottom-0">
            <span class="close" data-bs-dismiss="modal" aria-label="Close">&times;</span>
          </div>
          <div class="modal-body">
            <div id="{{ unique_string }}-carouselModal" class="carousel slide modal-sldier">
              <div class="carousel-inner">
                {% if product.images.size > 0 %}
                  {% for image in product.images %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                      <div class="img-wrapper">
                        <img
                          height="auto"
                          width="auto"
                          src="{{ image | img_url: 'master' }}"
                          alt="{{ image.alt | escape }}"
                        >
                      </div>
                    </div>
                  {% endfor %}
                {% else %}
                  <div class="carousel-item active">
                    <div class="img-fluid">{{ 'product-1' | placeholder_svg_tag: 'w-100 h-100' }}</div>
                  </div>
                {% endif %}
              </div>
              <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#{{ unique_string }}-carouselModal"
                data-bs-slide="prev"
              >
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#{{ unique_string }}-carouselModal"
                data-bs-slide="next"
              >
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% comment %} <!-- Image modal end --> {% endcomment %}
    <div class="sidebar-product-details mt-3">
      <h2>
        <a href="{{ product.url }}">{{ product.title }}</a>
      </h2>
      <p>{{ product.price | money }}</p>
      <div class="d-flex align-items-center justify-content-start gap-2 mb-3">
        <div class="product-rating">
          <!-- Start of Judge.me code -->
          <div class="jdgm-widget jdgm-preview-badge" data-id="{{ product.id }}">
            {{ product.metafields.judgeme.badge }}
          </div>
          <!-- End of Judge.me code -->
        </div>
      </div>
      {% if product.metafields.custom.short_description != blank %}
        <div class="description">
          {{ product.metafields.custom.short_description }}
        </div>
      {% endif %}
      <form method="post" action="/cart/add">
        <div class="d-flex align-items-center gap-4">
          <div class="quantity-container">
            <span class="quantity-btn" onclick="decrementQuantity(event)">
              <svg
                version="1.0"
                xmlns="http://www.w3.org/2000/svg"
                width="10px"
                height="10px"
                viewBox="0 0 208.000000 148.000000"
                preserveAspectRatio="xMidYMid meet"
              >
                <g transform="translate(0.000000,148.000000) scale(0.100000,-0.100000)"
                fill="#000000" stroke="none">
                <path d="M147 792 c-22 -25 -21 -75 1 -95 17 -16 93 -17 894 -17 835 0 876 1
                891 18 22 25 21 75 -1 95 -17 16 -93 17 -894 17 -835 0 -876 -1 -891 -18z"/>
                </g>
              </svg>
            </span>
            <input type="hidden" name="id" value="{{ product.variants.first.id }}">
            <input min="1" type="number" class="quantity quantity-input" id="quantity" name="quantity" value="1">
            <span class="quantity-btn" onclick="incrementQuantity(event)">
              <svg
                version="1.0"
                xmlns="http://www.w3.org/2000/svg"
                width="10px"
                height="10px"
                viewBox="0 0 173.000000 148.000000"
                preserveAspectRatio="xMidYMid meet"
              >
                <g transform="translate(0.000000,148.000000) scale(0.100000,-0.100000)"
                fill="#000000" stroke="none">
                <path d="M817 1474 c-4 -4 -7 -157 -7 -341 l0 -333 -328 0 c-362 0 -372 -2
                -372 -60 0 -58 10 -60 372 -60 l328 0 2 -338 3 -337 50 0 50 0 3 337 2 338
                328 0 c362 0 372 2 372 60 0 58 -10 60 -372 60 l-328 0 -2 338 -3 337 -45 3
                c-25 2 -49 0 -53 -4z"/>
                </g>
              </svg>
            </span>
          </div>
          <button class="add-to-cart-btn" type="submit"><i class="bi bi-bag"></i>Add to Cart</button>
        </div>
      </form>
      <div class="wishlist-categories">
        <button href="#" class="my-3 d-flex align-items-center gap-1 justify-content-start text-black">
          <i class="bi bi-heart"></i>Add wishlist
        </button>

        <div class="d-flex align-itms-center flex-wrap justify-content-start gap-1">
          <p class="mb-0">Categories:</p>
          <a href="{{ product.url }}" class="mb-0">{{ product.category }}</a>,
        </div>
        {% if product.tags != blank %}
          <div class="d-flex align-itms-center flex-wrap justify-content-start gap-1">
            <p class="mb-0">Tags:</p>
            {% for tag in product.tags %}
              <a href="/collections/all?filter.p.tag={{ tag | handleize }}">{{ tag }}</a>
            {% endfor %}
          </div>
        {% endif %}
      </div>
      <div class="share-icons">
        <span>Share:</span>
        <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Share on Twitter"
          ><i
            class="bi bi-twitter"
          ></i
        ></a>
        <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Share on Facebook"
          ><i
            class="bi bi-facebook"
          ></i
        ></a>
        <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Share on WhatsApp"
          ><i
            class="bi bi-whatsapp"
          ></i
        ></a>
        <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Share on LinkedIn"
          ><i
            class="bi bi-linkedin"
          ></i
        ></a>
        <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Share on Skype"
          ><i
            class="bi bi-skype"
          ></i
        ></a>
      </div>
      {% if product.description != blank %}
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#moreDetails"
                aria-expanded="true"
                aria-controls="moreDetails"
              >
                More Details
              </button>
            </h2>
            <div id="moreDetails" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>{{ product.description }}</p>
                <a href="{{ product.url }}">Show full details</a>
              </div>
            </div>
          </div>
        </div>
      {% else %}
        <a href="{{ product.url }}">View details</a>
      {% endif %}
    </div>
  </div>
</div>
