<div class="shop-left">
  <div class="accordion accordion-flush" id="accordionFlushExample">
    <form>
      {%- for filter in collection.filters -%}
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#{{ filter }}-collapsefour-{{ forloop.index }}"
              aria-expanded="true"
              aria-controls="{{ filter }}-collapsefour-{{ forloop.index }}"
            >
              <div class="d-flex w-100 align-items-center justify-content-between">
                <span>{{ filter.label }}</span>
              </div>
            </button>
          </h2>

          <div id="{{ filter }}-collapsefour-{{ forloop.index }}" class="accordion-collapse collapse show">
            {%- case filter.type -%}
              {%- when 'boolean' -%}
                <ul>
                  <li>
                    <label for="Filter-{{ filter.param_name }}-{{ filter.true_value.value }}">
                      <input
                        type="checkbox"
                        name="{{ filter.param_name }}"
                        value="{{ filter.true_value.value }}"
                        id="Filter-{{ filter.param_name }}"
                        {% if filter.true_value.active -%}
                          checked
                        {%- endif %}
                        {% if filter.true_value.count == 0 and filter.true_value.active == false -%}
                          disabled
                        {%- endif -%}
                      >
                      {{- filter.true_value.label -}}
                    </label>
                  </li>
                  <li>
                    <label for="Filter-{{ filter.param_name }}-{{ filter.false_value.value }}">
                      <input
                        type="checkbox"
                        name="{{ filter.param_name }}"
                        value="{{ filter.false_value.value }}"
                        id="Filter-{{ filter.param_name }}"
                        {% if filter.false_value.active -%}
                          checked
                        {%- endif %}
                        {% if filter.false_value.count == 0 and filter.false_value.active == false -%}
                          disabled
                        {%- endif %}
                      >
                      {{- filter.false_value.label -}}
                    </label>
                  </li>
                </ul>

                <div>
                  <input type="submit" value="Apply">
                </div>
              {%- when 'list' -%}
                <ul class="pt-2">
                  {%- for filter_value in filter.values -%}
                    {% assign unique_string = filter_value.label | append: now | replace: ':', '' | replace: ' ', '-' %}
                    <li>
                      <label
                        for="Filter-{{ unique_string }}-{{ forloop.index }}"
                        class="d-flex align-items-center gap-2 justify-content-start mb-3"
                      >
                        <input
                          type="checkbox"
                          name="{{ filter_value.param_name }}"
                          value="{{ filter_value.value }}"
                          id="Filter-{{ unique_string }}-{{ forloop.index }}"
                          {% if filter_value.active -%}
                            checked
                          {%- endif %}
                          {% if filter_value.count == 0 and filter_value.active == false -%}
                            disabled
                          {%- endif %}
                        >
                        <span>
                          {%- case filter_value.display.type -%}
                            {%- when 'colors' -%}
                              {% liquid
                                assign size_limit = filter_value.display.value.size | at_most: 4
                                assign rotation = '0deg'
                                if size_limit == 2
                                  assign rotation = '45deg'
                                endif

                                assign angle_increment = 360 | divided_by: size_limit
                                assign angle = 0
                              %}
                              {%- capture conic_gradient -%}
                                      {%- for color in filter_value.display.value limit: size_limit -%}
                                        {{ color }} {{ angle }}deg{%- assign angle = angle | plus: angle_increment %} {{ angle }}deg{%- unless forloop.last %}, {%- endunless -%}
                                      {%- endfor -%}
                                    {%- endcapture -%}
                              <span
                                style="
                                  width: 25px;
                                  height: 25px;
                                  border-radius: 50%;
                                  display: flex;
                                  justify-content: center;
                                  align-items: center;
                                  background: conic-gradient({{ conic_gradient }}); transform: rotateZ({{ rotation }});
                                "
                              ></span>
                            {%- when 'image' -%}
                              {{
                                filter_value.display.value
                                | image_url: width: 25
                                | image_tag: alt: filter_value.display.value.alt
                              }}
                            {%- else -%}
                              <span class="visual-display__child"></span>
                          {%- endcase -%}
                        </span>
                        {{ filter_value.label }}
                      </label>
                    </li>
                  {%- endfor -%}
                </ul>
              {%- when 'price_range' -%}
                <div class="price-range-container">
                  <div class="slider-track">
                    <div class="slider-range" id="slider-range" data-range-max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"></div>
                    <div class="slider-thumb" id="thumb-min"></div>
                    <div class="slider-thumb" id="thumb-max" ></div>

                  </div>
                  <div class="price-range-sets">
                    <span
                      >Price:
                      $
                      <span>
                        <input
                          name="{{ filter.min_value.param_name }}"
                          id="price-min"
                          {% if filter.min_value.value -%}
                            value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}"
                          {%- endif %}
                          type="number"
                          placeholder="0"
                          min="0"
                          max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                        >
                      </span>
                      — $
                      <span>
                        <input
                          name="{{ filter.max_value.param_name }}"
                          id="price-max"
                          {% if filter.max_value.value -%}
                            value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}"
                          {%- endif %}
                          type="number"
                          placeholder="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                          min="0"
                          max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                        >
                      </span>
                    </span>
                    <button id="reset-btn">RESET</button>
                  </div>
                </div>
            {%- endcase -%}
          </div>
        </div>
      {%- endfor -%}
    </form>
    {% comment %} <!-- Average rating --> {% endcomment %}
    {% if request.path == '/collections/all' %}
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapsethree"
            aria-expanded="true"
            aria-controls="flush-collapsethree"
          >
            Average rating
          </button>
        </h2>
        <div id="flush-collapsethree" class="accordion-collapse collapse show">
          <div class="average-rating">
            <ul>
              <!-- Start of Judge.me code -->
              {% for product in products  %}
                <li>
                  <a href="{{ product.url }}">
                    <div class="jdgm-widget jdgm-preview-badge" data-id="{{ product.id }}">
                      {{ product.metafields.judgeme.badge }}
                    </div>
                    <!-- End of Judge.me code -->
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    {% endif %}
    {% comment %} <!-- all collections --> {% endcomment %}
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#allcollections-collapsefour"
          aria-expanded="true"
          aria-controls="allcollections-collapsefour"
        >
          All Collections
        </button>
      </h2>
      <div id="allcollections-collapsefour" class="accordion-collapse collapse show">
        <div class="product-categories">
          <ul>
            {% for collection in collections %}
              <li>
                <a href="{{ collection.url }}">{{ collection.title }}</a>
              </li>
            {% endfor %}
          </ul>
          <ul>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
