<div class="main-footer">
  <div class="container">
    <div class="footer-content row">
      <div class="form-group col-lg-3 col-sm-6">
        <div class="d-flex align-items-center flex-column gap-4">
          {% if section.settings.logo %}
            <img
              src="{{ section.settings.logo |  img_url: 'master' }}"
              alt="{{ shop.name }}"
              width="245"
              height="auto"
            >
          {% else %}
            <h1 class="">{{ shop.name }}</h1>
          {% endif %}
          <p class="mb-0 text-white">{{ section.settings.footerText }}</p>
        </div>
      </div>
      <div class="form-group col-lg-3 col-sm-6">
        <span>Userful Links</span>
        <div class="d-flex align-items-start gap-5 w-100">
          {% if section.settings.menu.links %}
            <ul>
              {% for link in section.settings.menu.links %}
                <li>
                  <a href="{{ link.url }}">{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
          {% if section.settings.city_menu.links %}
            <ul>
              {% for link in section.settings.city_menu.links %}
                <li>
                  <a href="{{ link.url }}">{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </div> 
      </div>
      <div class="form-group col-lg-3 col-sm-6">
        {% if section.settings.article_name != blank %}
          <span>{{ section.settings.article_name }}</span>
        {% else %}
          <span>Latest News</span>
        {% endif %}
        <div class="d-flex align-items-start gap-3 LatestNewsList">
          <div class="img-wrapper">
            {% if section.settings.article_1.image %}
              <img
                src="{{ section.settings.article_1.image |  img_url: 'master' }}"
                alt="{{ section.settings.article_1.image.alt }}"
                height="30px"
                width="40px"
              >
            {% else %}
              <img
                src="{{ 'product-placeholder-image.webp' |  asset_url }}"
                alt="blog image"
                height="30px"
                width="40px"
              >
            {% endif %}
          </div>
          <div class="d-flex flex-column align-items-start gap-1">
            <h6>{{ section.settings.article_1.title }}</h6>
            <div class="d-flex align-items-center gap-2">
              {% render 'icon-calendar' %}
              <p class="date mb-0">{{ section.settings.article_1.created_at | date: '%B %d, %Y' }}</p>
              {% render 'icon-message' %}
              <p class="text-white mb-0">{{ section.settings.article_1.comments_count }}</p>
            </div>
          </div>
        </div>
        <div class="d-flex align-items-start gap-3 LatestNewsList">
          <div class="img-wrapper">
            {% if section.settings.article_2.image %}
              <img
                src="{{ section.settings.article_2.image |  img_url: 'master' }}"
                alt="{{ section.settings.article_2.image.alt }}"
                height="30px"
                width="40px"
              >
            {% else %}
              <img
                src="{{ 'product-placeholder-image.webp' |  asset_url }}"
                alt="blog image"
                height="30px"
                width="40px"
              >
            {% endif %}
          </div>
          <div class="d-flex flex-column align-items-start gap-1">
            <h6>{{ section.settings.article_2.title }}</h6>
            <div class="d-flex align-items-center gap-2">
              {% render 'icon-calendar' %}
              <p class="date mb-0">{{ section.settings.article_2.created_at | date: '%B %d, %Y' }}</p>
              {% render 'icon-message' %}
              <p class="text-white mb-0">{{ section.settings.article_2.comments_count }}</p>
            </div>
          </div>
        </div>
        <div class="d-flex align-items-start gap-3 LatestNewsList">
          <div class="img-wrapper">
            {% if section.settings.article_3.image %}
              <img
                src="{{ section.settings.article_3.image |  img_url: 'master' }}"
                alt="{{ section.settings.article_3.image.alt }}"
                height="30px"
                width="40px"
              >
            {% else %}
              <img
                src="{{ 'product-placeholder-image.webp' |  asset_url }}"
                alt="blog image"
                height="30px"
                width="40px"
              >
            {% endif %}
          </div>
          <div class="d-flex flex-column align-items-start gap-1">
            <h6>{{ section.settings.article_3.title }}</h6>
            <div class="d-flex align-items-center gap-2">
              {% render 'icon-calendar' %}
              <p class="date mb-0">{{ section.settings.article_3.created_at | date: '%B %d, %Y' }}</p>
              {% render 'icon-message' %}
              <p class="text-white mb-0">{{ section.settings.article_3.comments_count }}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group col-lg-3 col-sm-6">
        <span>Tags Cloud</span>
        <div class="d-flex align-items-start gap-2 flex-wrap">
          {%- for filter in collections.all.filters -%}
            {%- if filter.type == 'list' and filter.label contains 'Tags' -%}
              {%- for filter_value in filter.values -%}
                <a href="{{ routes.all_products_collection_url }}?filter.p.tag={{ filter_value.label }}" class="border border-1 text-decoration-none TagsCloudBox">
                  <small class="text-white">{{ filter_value.label }}</small>
                </a>
              {%- endfor -%}
            {%- endif -%}
          {%- endfor -%}
        </div>
      </div>
    </div>

    <div class="footer-bottom">
      <div class="d-flex align-items-center flex-wrap gap-3 justify-content-center justify-content-md-between p-4">
        <p class="mb-0">Copyright © 2024 Progatix</p>
        <img src="{{ 'payments.png' |  asset_url }}" alt="payments methods" height="20px" width="auto">
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "footer",
  "tag": "footer",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Upload Logo"
    },
    {
      "type": "text",
      "id": "footerText",
      "default": "This is easy to update text from the footer widget area. Add here information about your store.",
      "label": "Footer Description"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "Useful Navigation Menu"
    },
    {
      "type": "link_list",
      "id": "city_menu",
      "label": "Useful City Menu"
    },
    {
      "type": "text",
      "id": "article_name",
      "label": "Latest Blog Name"
    },
    {
      "type": "article",
      "id": "article_1",
      "label": "Blog 1"
    },
    {
      "type": "article",
      "id": "article_2",
      "label": "Blog 2"
    },
    {
      "type": "article",
      "id": "article_3",
      "label": "Blog 3"
    }
  ]
}
{% endschema %}
