<div class="bg-primary text-white d-flex align-items-center justify-content-center">
  <div class="container">
    <div class="announcementbar">
      <div class="row">
        <div class="d-none d-lg-flex col-md-3">
          <div class="d-flex align-items-center justify-content-center justify-content-md-start gap-2 gap-md-3">
            <a href="#" class="text-white">English</a>
            <strong class="text-center m-0">|</strong>
            <span class="text-center m-0">USD ($)</span>
          </div>
        </div>
        <div class="col-lg-6 mt-2 mt-md-0">
          <div id="carouselExampleControls" class="carousel slide text-center" data-bs-ride="carousel">
            <div class="carousel-inner">
              {% for block in section.blocks %}
                {% case block.type %}
                  {% when 'announcementbar' %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                      <div class="d-flex align-items-center justify-content-center gap-1 w-100">
                        <img
                          src="{{ block.settings.image |  img_url: 'master' }}"
                          alt="{{ block.settings.image.alt }}"
                          height="13px"
                          width="13px"
                          style="filter: invert(1);"
                        >
                        <span class="text-center px-2 m-0">{{ block.settings.title }}</span>
                        <a href="{{ block.settings.url }}" class="text-white">{{ block.settings.button }}</a>
                      </div>
                    </div>
                {% endcase %}
              {% endfor %}
            </div>
            <button
              class="carousel-control-prev btn-sm"
              type="button"
              data-bs-target="#carouselExampleControls"
              data-bs-slide="prev"
            >
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExampleControls"
              data-bs-slide="next"
            >
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <div class="d-none d-lg-flex col-md-3">
          <div class="d-flex align-items-center justify-content-center gap-3">
            <span
              class="d-flex align-items-center justify-content-center gap-2 cursor-pointer"
              data-bs-toggle="modal"
              data-bs-target="#customModal"
              role="button"
              tabindex="0"
            >
              <svg
                fill="#ffffff"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                width="1em"
                height="1em"
                viewBox="0 0 24 24"
              >
                <path d="M23.928 5.424c-0.024-0.648-0.552-1.152-1.176-1.152h-21.504c-0.648 0-1.176 0.528-1.176 1.176v13.128c0 0.648 0.528 1.176 1.176 1.176h21.504c0.648 0 1.176-0.528 1.176-1.176v-13.152zM22.512 5.4l-10.512 6.576-10.512-6.576h21.024zM1.248 16.992v-10.416l7.344 4.584-7.344 5.832zM1.224 18.456l8.352-6.624 2.064 1.32c0.192 0.12 0.432 0.12 0.624 0l2.064-1.32 8.4 6.648 0.024 0.096c0 0 0 0.024-0.024 0.024h-21.48c-0.024 0-0.024 0-0.024-0.024v-0.12zM22.752 6.648v10.344l-7.344-5.808 7.344-4.536z"></path>
              </svg>
              Newsletter
            </span>
            <strong>|</strong>
            <div class="d-flex align-items-center justify-content-center gap-3">
              {% for block in section.blocks %}
                {% case block.type %}
                  {% when 'social_icons' %}
                    <a href="{{ block.settings.icon_url }}">
                      <img
                        src="{{ block.settings.icon_image |  img_url: 'master' }}"
                        alt="{{ block.settings.icon_image.alt }}"
                        height="13px"
                        width="13px"
                      >
                    </a>
                {% endcase %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main-header bg-white border-bottom">
  <div class="container">
    <div class="row">
      <div class="d-block d-lg-none col-3 col-sm-4">
        <a
          href="javascript:void(0);"
          data-bs-toggle="offcanvas"
          data-bs-target="#menu-offcanvasScrolling"
          aria-controls="offcanvasScrolling"
        >
          {%- render 'icon-hamburger' -%}
        </a>
      </div>
      <div class="col-6 col-sm-4 col-lg-3">
        <a href="/" class="flex justify-start flex-1 truncate">
          {% if section.settings.logo %}
            <img
              src="{{ section.settings.logo |  img_url: 'master' }}"
              alt="{{ shop.name }}"
              width="auto"
              height="auto"
              class="logo"
            >
          {% else %}
            <h1 class="">{{ shop.name }}</h1>
          {% endif %}
        </a>
      </div>
      <div class="d-none d-lg-flex col-md-6">
        <div class="d-flex gap-4 align-items-center justify-content-center h-100 menu-list w-100">
          {% for link in section.settings.menu.links %}
            {% assign mega_menu = false %}
            {% for block in section.blocks %}
              {% case block.type %}
                {% when 'mega_menu' %}
                  {% if block.settings.title == link.title %}
                    {% assign mega_menu = true %}
                    <div class="relative mega-dropdown">
                      <a href="{{ link.url }}" class="menu-list-item">
                        {{ link.title }}
                        {% render 'icon-dropdown' %}
                      </a>
                      <div class="dropdownMenuContainer">
                        <div class="dropdownMenu">
                          <div class="row px-2">
                            <div class="col-md-4 dropdown-menu-category p-1">
                              <ul class="d-flex flex-column align-items-start">
                                <li>
                                  <a href="{{ collection.url }}" class="menu-title">
                                    <h6>Collections</h6>
                                  </a>
                                </li>
                                {% for category in block.settings.category_list %}
                                  <li>
                                    <a href="{{ category.url }}">
                                      {{- category.title -}}
                                    </a>
                                  </li>
                                {% endfor %}
                              </ul>
                            </div>
                            <div class="col-md-4 dropdown-menu-brands-lens p-1">
                              <ul class="d-flex flex-column align-items-start">
                                <li>
                                  <a href="{{ collection.url }}" class="menu-title">
                                    <h6>Brand</h6>
                                  </a>
                                </li>
                                {% for brand in block.settings.brands_list.links %}
                                  <li>
                                    <a href="{{ shop.url }}/collections/all/?filter.p.vendor={{ brand.title }}">
                                      {{- brand.title -}}
                                    </a>
                                  </li>
                                {% endfor %}
                              </ul>
                              <ul class="d-flex flex-column align-items-start pt-4">
                                <li>
                                  <a href="{{ collection.url }}" class="menu-title">
                                    <h6>Contact Lenses</h6>
                                  </a>
                                </li>
                                {% for lanses in block.settings.lenses %}
                                  <li>
                                    <a href="{{ lanses.url }}">
                                      {{- lanses.title -}}
                                    </a>
                                  </li>
                                {% endfor %}
                              </ul>
                            </div>
                            <div class="col-md-4 dropdown-menu-link-img p-1">
                              {% if block.settings.mega_menu_image %}
                                <img
                                  src="{{ block.settings.mega_menu_image |  img_url:'master' }}"
                                  height="auto"
                                  width="auto"
                                  alt="{{ block.settings.mega_menu_image.alt }}"
                                >
                              {% else %}
                                <img
                                  src="{{ 'john-jacobs.jpg' |  asset_url }}"
                                  height="auto"
                                  width="auto"
                                  alt="Modal Image"
                                >
                              {% endif %}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endif %}
              {% endcase %}
            {% endfor %}
            {% if mega_menu == false %}
              {% if link.links != blank %}
                <div class="dropdown">
                  <a
                    class="dropdown-toggle"
                    href="#"
                    id="navbarDropdown"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    {{ link.title }}
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% for childlink in link.links %}
                      <li>
                        <a class="dropdown-item" href="{{ childlink.url }}">{{ childlink.title }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              {% else %}
                <a href="{{ link.url }}" class="menu-list-item">{{ link.title }}</a>
              {% endif %}
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="col-3 col-sm-4 col-lg-3">
        <div class="d-flex align-items-center justify-content-end justify-content-lg-center gap-0 gap-md-4 h-100">
          <a href="javascript:void(0);" class="d-none d-lg-block" data-bs-toggle="modal" data-bs-target="#searchModal">
            {%- render 'icon-search' -%}
          </a>
          <div class="d-none d-lg-block">
            <div
              id="swym-anchor"
              role="region"
              aria-label="My Wishlist"
              class="custom-wishlist-header-icon"
              style="display: block !important;"
            >
              <a
                href="/pages/swym-wishlist?"
                id="notepad-anchor-title"
                aria-label="My Wishlist"
                data-swym-loaded="true"
              >
                {%- render 'icon-favorite' -%}
              </a>
            </div>
          </div>
          <a
            class="position-relative"
            href="javascript:void(0);"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasScrolling"
            aria-controls="offcanvasScrolling"
          >
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary">
              {{ cart.item_count }}
            </span>
            {%- render 'icon-shopping-bag' -%}
          </a>
          <div class="p-1 d-block d-md-none"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="header-search-responsive w-100 py-2 border-bottom d-block d-lg-none">
  <div class="container">
    <form action="{{ routes.search_url }}" method="get">
      <div class="input-group">
        <input
          type="search"
          class="form-control"
          placeholder="Type here..."
          aria-label="Search Here"
          aria-describedby="button-addon2"
          name="q"
        >
        <button class="btn btn-light" type="submit" id="button-addon2">
          {% render 'icon-search' %}
        </button>
      </div>
    </form>
  </div>
</div>
{% comment %} shopping cart sidebar {% endcomment %}
{% render 'shopping-cart-sidebar' %}

{% comment %} Search Modal {% endcomment %}
<div
  class="modal w-screen-modal fade"
  id="searchModal"
  tabindex="-1"
  aria-labelledby="searchModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <section class="searchBarHolder">
          <div class="container">
            <div class="searchBarSec">
              <p>What are you looking for?</p>
              <form action="{{ routes.search_url }}" method="get">
                <div class="input-group mb-3">
                  <input
                    type="search"
                    class="form-control"
                    placeholder="Type here..."
                    aria-label="Search Here"
                    aria-describedby="button-addon2"
                    name="q"
                  >
                  <button class="btn btn-dark" type="submit" id="button-addon2">Search</button>
                </div>
              </form>
              <div class="trending-searches d-flex align-items-center justify-content-center gap-1">
                <span>Trending Searches:</span>
                <a href="{{ routes.collections_url }}">Sunglasses</a>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
{% comment %} Responsive Sidebar {% endcomment %}
<div
  class="offcanvas offcanvas-start"
  tabindex="-1"
  id="menu-offcanvasScrolling"
  aria-labelledby="menu-offcanvasScrollingLabel"
>
  <div class="custom-close-left-sidebar">
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="sidebar-body">
    <a href="/" class="d-flex justify-content-center align-items-center flex-1 truncate p-2">
      {% if section.settings.logo %}
        <img
          src="{{ section.settings.logo |  img_url: 'master' }}"
          alt="{{ shop.name }}"
          width="200px"
          height="auto"
        >
      {% else %}
        <h1 class="">{{ shop.name }}</h1>
      {% endif %}
    </a>
    <form action="{{ routes.search_url }}" method="get">
      <div class="input-group my-3">
        <input
          type="search"
          class="form-control"
          placeholder="Type here..."
          aria-label="Search Here"
          aria-describedby="button-addon2"
          name="q"
        >
        <button class="btn btn-light" type="submit" id="button-addon2">
          {% render 'icon-search' %}
        </button>
      </div>
    </form>
    <div class="custom-tabs">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button
            class="nav-link active"
            id="menu-tab"
            data-bs-toggle="tab"
            data-bs-target="#menu"
            type="button"
            role="tab"
            aria-controls="menu"
            aria-selected="true"
          >
            menu
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="categories-tab"
            data-bs-toggle="tab"
            data-bs-target="#categories"
            type="button"
            role="tab"
            aria-controls="categories"
            aria-selected="false"
          >
            categories
          </button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="menu" role="tabpanel" aria-labelledby="menu-tab">
          <div class="d-flex flex-column align-items-center justify-content-center gap-2 mt-2">
            {% for link in section.settings.menu.links %}
              <a href="{{ link.url }}" class="text-start w-100 text-decoration-none text-uppercase">
                {{- link.title -}}
              </a>
            {% endfor %}
          </div>
        </div>
        <div class="tab-pane fade" id="categories" role="tabpanel" aria-labelledby="categories-tab">
          <ul class="d-flex flex-column align-items-start justify-content-center gap-2 mt-2">
            {% for collection in collections %}
              <li>
                <a href="{{ collection.url }}" class="text-uppercase">{{ collection.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="d-flex align-items-center justify-content-center gap-3 mt-4">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'social_icons' %}
            <a href="{{ block.settings.icon_url }}">
              <img
                src="{{ block.settings.icon_image |  img_url: 'master' }}"
                alt="{{ block.settings.icon_image.alt }}"
                height="15px"
                width="15px"
                style="filter: invert(1);"
              >
            </a>
        {% endcase %}
      {% endfor %}
    </div>
  </div>
</div>

{% comment %} Newsletter Modal {% endcomment %}
<div
  class="modal fade newsletter-modal"
  id="customModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <button type="button" class="close-modal" data-bs-dismiss="modal" aria-label="Close">
        <i class="bi bi-x"></i>
      </button>
      <div class="modal-body">
        <h3>{{ section.settings.text }}</h3>
        <h2>{{ section.settings.percentCoupon }}</h2>
        <h5>
          GET <span>{{ section.settings.percentReward }}</span> ON FUTURE ORDERS
        </h5>
        {% form 'contact' %}
          <div class="form-inline">
            <input type="email" name="contact[email]" class="form-control" placeholder="Enter Email" required>
            <button type="submit" class="subscribe-btn">SUBSCRIBE</button>
          </div>
        {% endform %}
        <div class="footer-text">
          <p>*Don't worry, we won't spam our <span>customers' mailboxes</span>.</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "header",
  "tag": "header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Upload Logo"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "Heading Navigation Menu"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text",
      "default": "SIGN UP TODAY FOR A"
    },
    {
      "type": "text",
      "id": "percentCoupon",
      "label": "Percent Of Coupon Text",
      "default": "60% OFF COUPON"
    },
    {
      "type": "text",
      "id": "percentReward",
      "label": "Percent Of Reward Text",
      "default": "5% REWARD"
    }
  ],
  "blocks": [
    {
      "type": "announcementbar",
      "name": "Announcement block",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "button",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Button URL"
        }
      ]
    },
    {
      "type": "social_icons",
      "name": "Social Icons",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon_image",
          "label": "Icon"
        },
        {
          "type": "url",
          "id": "icon_url",
          "label": "Icon Url"
        }
      ]
    },
    {
      "type": "mega_menu",
      "name": "mega menu",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Add Navigation Name To add Mega menu"
        },
        {
          "type": "collection_list",
          "id": "category_list",
          "label": "Add Categories"
        },
        {
          "type": "link_list",
          "id": "brands_list",
          "label": "Brand List"
        },
        {
          "type": "collection_list",
          "id": "lenses",
          "label": "Contact Lenses"
        },
        {
          "type": "image_picker",
          "id": "mega_menu_image",
          "label": "Add Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "announcementbar"
    },
    {
      "name": "Social Icons"
    },
    {
      "name": "mega menu"
    }
  ]
}
{% endschema %}
