<section class="productCheckoutHolder">
  <div class="container">
    <div class="productCheckoutSec">
      {% if cart.item_count > 0 %}
        <form action="{{ routes.cart_url }}" method="post">
          <div class="shopping-cart">
            <div class="product-details">
              <div>
                <div class="table-container">
                  <table cellspacing="0" class="border-bottom">
                    <thead>
                      <tr>
                        <th colspan="2">Product</th>
                        <th>Price</th>
                        <th>SKU</th>
                        <th>Quantity</th>
                        <th colspan="2">Subtotal</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for item in cart.items %}
                        <tr>
                          <td>
                            <div class="product-thumbnail">
                              <a href="{{ item.url }}">
                                {% if item.image %}
                                  <img
                                    src="{{ item.image |  img_url: 'small' }}"
                                    alt="{{ item.title |  escape }}"
                                    width="80"
                                    height="auto"
                                  >
                                {% else %}
                                  <div class="img-fluid">{{ 'product-1' | placeholder_svg_tag: '' }}</div>
                                {% endif %}
                              </a>
                            </div>
                          </td>
                          <td>
                            <div class="cart-item-details">
                              <div class="cart-item-title">
                                <a href="{{ item.url }}" class="screen-reader-text">{{ item.title }}</a>
                              </div>
                              <div class="product-remove">
                                <a href="{{ routes.cart_change_url }}?line={{ forloop.index }}&quantity=0" class="remove-item text-decoration-underline">Remove</a>
                              </div>
                              {% comment %} <!-- Button trigger modal --> {% endcomment %}
                              <a type="button" class="text-decoration-underline" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                Show Prescription
                              </a>

                              {% comment %} <!-- Modal --> {% endcomment %}
                              <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog" >
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="staticBackdropLabel">Prescriptions</h5>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                      <ul>
                                      {% for prop in item.properties %}
                                          <li class="row"><strong class="col-sm-6">{{ prop[0] }}:</strong> <span class="col-sm-6">{{ prop[1] }}</span></li>
                                        {% endfor %}
                                        </ul>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </td>
                          <td>
                            <span class="price-amount">${{ item.price |  money_without_currency }}</span>
                          </td>
                          <td class="product-sku">{{ item.sku }}</td>
                          <td>
                            <div class="product-quantity">
                              <button type="submit" class="minus-et-icon" onclick="decrementQuantity(event)">
                                <svg
                                  version="1.1"
                                  xmlns="http://www.w3.org/2000/svg"
                                  width=".7em"
                                  height=".7em"
                                  viewBox="0 0 24 24"
                                >
                                  <path
                                    d="M23.52 11.4h-23.040c-0.264 0-0.48 0.216-0.48 0.48v0.24c0 0.264 0.216 0.48 0.48 0.48h23.040c0.264 0 0.48-0.216 0.48-0.48v-0.24c0-0.264-0.216-0.48-0.48-0.48z">
                                  </path>
                                </svg>
                              </button>
                              <input
                                type="number"
                                name="updates[]"
                                aria-label="Product quantity"
                                value="{{ item.quantity }}"
                                min="1"
                                class="quantity"
                                id="quantity-{{ forloop.index }}"
                              >
                              <button class="plus-et-icon" type="submit" onclick="incrementQuantity(event)">
                                <svg
                                  version="1.1"
                                  xmlns="http://www.w3.org/2000/svg"
                                  width=".7em"
                                  height=".7em"
                                  viewBox="0 0 24 24"
                                >
                                  <path
                                    d="M23.52 11.4h-10.92v-10.92c0-0.264-0.216-0.48-0.48-0.48h-0.24c-0.264 0-0.48 0.216-0.48 0.48v10.92h-10.92c-0.264 0-0.48 0.216-0.48 0.48v0.24c0 0.264 0.216 0.48 0.48 0.48h10.92v10.92c0 0.264 0.216 0.48 0.48 0.48h0.24c0.264 0 0.48-0.216 0.48-0.48v-10.92h10.92c0.264 0 0.48-0.216 0.48-0.48v-0.24c0-0.264-0.216-0.48-0.48-0.48z">
                                  </path>
                                </svg>
                              </button>
                            </div>
                          </td>
                          <td>
                            <span class="product-subtotal">${{ item.quantity | times: item.price | money_without_currency }}</span>
                          </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                <div class="mt-2 pt-4 d-flex justify-content-end">
                  <a href="{{ routes.cart_clear_url }}" class="border py-2 px-4 text-uppercase" style="font-size: 0.85rem;"
                    ><i
                      class="bi bi-trash"
                      style="font-size: 0.8em; margin-right: 2px;"
                    ></i
                    >Clear shopping cart</a
                  >
                </div>
              </div>
            </div>
            <div class="total-cart border border-2 border-dark">
              <div class="total-cart-header pb-2">
                <h6 class="fw-normal text-uppercase">Cart totals</h6>
              </div>
              <div class="cart-subtotal d-flex justify-content-between align-itmes-center mt-4 mb-1 w-100">
                <span>Subtotal</span>
                <span class="text-secondary">${{ cart.items_subtotal_price |  money_without_currency }}</span>
              </div>
              <div
                class="cart-total d-flex justify-content-between align-itmes-center mt-4 w-100"
                style="font-weight: 500"
              >
                <h5 class="text-dark text-uppercase">Total</h5>
                <h5 class="text-dark fw-normal">${{ cart.total_price |  money_without_currency }}</h5>
              </div>
              <div class="procees-btns d-flex flex-column gap-2 text-center mt-3">
                <button type="submit" name="checkout" class="btn black">Proceed to checkout</button>
                <a href="{{ routes.all_products_collection_url }}">Continue shopping</a>
              </div>
            </div>
          </div>
        </form>
      {% else %}
        <div class="d-flex flex-column gap-2 align-items-center justify-content-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 256 256">
            <path fill="#000000" d="M230.14 58.87A8 8 0 0 0 224 56H62.68L56.6 22.57A8 8 0 0 0 48.73 16H24a8 8 0 0 0 0 16h18l25.56 140.29a24 24 0 0 0 5.33 11.27a28 28 0 1 0 44.4 8.44h45.42a27.75 27.75 0 0 0-2.71 12a28 28 0 1 0 28-28H91.17a8 8 0 0 1-7.87-6.57L80.13 152h116a24 24 0 0 0 23.61-19.71l12.16-66.86a8 8 0 0 0-1.76-6.56M104 204a12 12 0 1 1-12-12a12 12 0 0 1 12 12m96 0a12 12 0 1 1-12-12a12 12 0 0 1 12 12m4-74.57a8 8 0 0 1-7.9 6.57H77.22L65.59 72h148.82Z"/>
          </svg>
          <h4 class="text-black">YOUR SHOPPING CART IS EMPTY</h4>
          <p>
            We invite you to get acquainted with an assortment of our shop. Surely you can find something for yourself!
          </p>
          <a href="{{ routes.all_products_collection_url }}" class="btn black">Continue Shopping</a>
        </div>
      {% endif %}
    </div>
  </div>
</section>

{% comment %} {% if cart.item_count > 0 %}
  <div class="p-4">
    <div class="max-w-6xl flex flex-col my-10 mx-auto">
      <div class="flex items-end justify-between py-5">
        <h1 class="text-3xl">Your Cart</h1>
        <a href="{{ routes.all_products_collection_url }}" class="text-blue-600 hover:text-blue-800 font-medium"
          >Continue Shopping</a
        >
      </div>
    </div>
    <div class="max-w-6xl flex flex-col my-10 mx-auto">
      <form
        action="{{ routes.cart_url }}"
        method="post"
        novalidate
      >
        <div class="relative overflow-x-auto">
          <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
              <tr>
                <th scope="col" class="px-6 py-3">Product</th>
                <th scope="col" class="px-6 py-3">Quantity</th>
                <th scope="col" class="px-6 py-3">Price</th>
              </tr>
            </thead>
            <tbody>
              {% for item in cart.items %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                  <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    <div class="flex flex items-center justify-center">
                      <a href="{{ item.url }}">
                        {% if item.image %}
                          <img
                            src="{{ item.image |  img_url: 'small' }}"
                            alt="{{ item.title |  escape }}"
                            class="w-20 h-20 object-cover border"
                          >
                        {% else %}
                          {{ 'product-1' | placeholder_svg_tag: 'w-20 h-20 object-cover border' }}
                        {% endif %}
                      </a>
                      <a href="{{ item.url }}" class="my-1">{{ item.title | truncatewords: 4 }}</a>
                      <span class="text-sm text-gray-500 my-1">{{ item.variant.title }}</span>
                      <a
                        href="{{ routes.cart_change_url }}?line={{ forloop.index }}&quantity=0"
                        class="text-sm font-medium text-red-500 my-1"
                        >Remove</a
                      >
                    </div>
                  </td>
                  <td class="px-6 py-4">
                    <input
                      type="number"
                      name="updates[]"
                      class="w-20 border p-2"
                      value="{{ item.quantity }}"
                      min="1"
                      id="updates_{{ forloop.index }}"
                    >
                  </td>
                  <td class="px-6 py-4"></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="flex flex-col md:flex-row items-center jusify-between">
          <div class="w-full my-4">
            <div class="flex flex-col items start">
              <label for="card_notes" class="my-1">Notes</label>
              <textarea
                name="note"
                id="card_notes"
                class="w-full md:max-w-lg resize-none border h-20 bg-gray-100"
                cols="30"
                rows="30"
              ></textarea>
            </div>
          </div>
          <div class="w-full my-4 md:w-80">
            {% for block in section.blocks %}
              {% case block.type %}
                {% when 'subTotal' %}
                  <h3 class="text-xl">SubTotal : {{ cart.total_price | money }}</h3>
                {% when 'update_button' %}
                  <div class="my-2">
                    <button
                      type="submit"
                      name="update"
                      class="w-full p-3 border border-blue-500 text-blue-500 hover:bg-blue-500 hover:text-white"
                    >
                      Update
                    </button>
                  </div>
                {% when 'checkout_button' %}
                  <div class="my-2">
                    <button
                      type="submit"
                      name="checkout"
                      class="w-full p-3 border border-blue-500 text-blue-500 hover:bg-blue-500 hover:text-white"
                    >
                      CheckOut
                    </button>
                  </div>
                {% else %}

              {% endcase %}
            {% endfor %}
          </div>
        </div>
      </form>
    </div>
  </div>
{% else %}
  <div class="max-w-6xl h-60 my-4 flex items-center justify-center">
    <div class="text-center">
      <h1 class="text-3xl my-4">Your card is Empty</h1>
      <div class="my-4 py-4">
        <a
          href="{{ routes.all_products_collection_url }}"
          class="border border-blue-600 text-white bg-blue-600 px-8 py-3"
          >Continue Shopping</a
        >
      </div>
    </div>
  </div>
{% endif %} {% endcomment %}

{% schema %}
{
  "name": "Template Cart",
  // "blocks": [
  //   {
  //     "type": "subTotal",
  //     "name": "subTotal",
  //     "limit": 1
  //   },
  //   {
  //     "type": "update_button",
  //     "name": "Update Button",
  //     "limit": 1
  //   },
  //   {
  //     "type": "checkout_button",
  //     "name": "checkout Button",
  //     "limit": 1
  //   }
  // ]
}
{% endschema %}
