<section class="product-page-holder">
  <div class="container">
    <div class="product-page-sec mt-5">
      <div class="product-img-gallery px-2">
        <div class="product-img-gallery-container">
          {% for media in product.media %}
            {% case media.media_type %}
              {% when 'image' %}
                <figure
                  class="zoom"
                  onmousemove="zoom(event)"
                  style="background-image: url({{ media |  img_url: 'master' }})"
                >
                  <img
                    src="{{ media |  img_url: 'master' }}"
                    alt="{{ media.preview_image.alt |  escape }}"
                    height="auto"
                    width="auto"
                  >
                </figure>
              {% when 'external_video' %}
                {{ media | external_video_tag: class: 'w-100 h-100' }}
              {% when 'video' %}
                {{ media | video_tag: class: 'w-100 h-100' }}
            {% endcase %}
          {% endfor %}
        </div>
      </div>
      <div class="product-details px-2">
        <div class="product-container">
          <div class="protuct-title">
            <h2>{{ product.title }}</h2>
            <p class="text-secondary">
              Brand: <span class="text-dark">{{ product.vendor }}</span>
            </p>
            {% if product.metafields.custom.short_description != blank %}
              <div class="description mb-2">
                {{ product.metafields.custom.short_description }}
              </div>
            {% endif %}
          </div>
          <div class="features">
            <ul class="d-flex flex-column gap-1">
              <li><i class="bi bi-truck"></i>120 USD shipping fee</li>
              <li><i class="bi bi-gift"></i>Free returns</li>
              <li><i class="bi bi-clock"></i>Standard delivery 1-2 working days (Mon-Fri)</li>
            </ul>
          </div>
          <div class="buy-proccess d-flex flex-column mt-3">
            <span>{{ product.price }}</span>
            <a class="mt-2">Add Prescription</a>
            <form method="post" action="/cart/add">
              <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
              <div class="d-flex gap-3 mt-3">
                <select  min="1" type="number" id="quantity" name="quantity" value="1">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
                <button href="javascript:void(0);" type="submit" class="add-to-cart"><i class="bi bi-cart"></i> Add to Cart</button>
              </div>
            </form>
            <div class="or mt-3">
              <p>OR</p>
            </div>
            <a class="buy-now-btn border-0"><i class="bi bi-cart"></i> Buy Now</a>
          </div>
          <div class="category-wish-list mt-4">
            <p class="wishlist"><i class="bi bi-star"></i>Add to Wishlist</p>
            <div class="toast-container">
              <div
                class="toast align-items-center text-white bg-success"
                role="alert"
                aria-live="assertive"
                aria-atomic="true"
              >
                <div class="d-flex">
                  <div class="toast-body" id="toastMessage"></div>
                  <button
                    type="button"
                    class="btn-close btn-close-white me-2 m-auto"
                    data-bs-dismiss="toast"
                    aria-label="Close"
                  ></button>
                </div>
              </div>
            </div>
            {% if product.category != blank %}
            <div class="d-flex align-itms-center flex-wrap justify-content-start gap-1">
              <p class="mb-0">Categories:</p>
              <a href="{{ product.url }}" class="mb-0">{{ product.category }}</a>,
              {% comment %} {% for product in collections.all.products %}
                <a href="{{ product.url }}" class="mb-0">{{ product.category }}</a>,
              {% endfor %} {% endcomment %}
            </div>
            {% endif %}
            {% if product.tags != blank %}
              <div class="d-flex align-itms-center flex-wrap justify-content-start gap-1">
                <p class="mb-0">Tags:</p>
                {% for tag in product.tags %}
                  <a href="/collections/{{ tag | handleize }}">{{ tag }}</a>
                {% endfor %}
              </div>
              {% endif %}
          </div>
        </div>
      </div>
    </div>
    <!-- product-description section start -->
    <div class="product-description">
      <div class="nav-tabs-btns d-flex justify-content-center">
        <ul class="nav nav-tabs" id="productTabs" role="tablist">
          <li class="nav-item" role="presentation">
            <button
              class="nav-link active"
              id="description-tab"
              data-bs-toggle="tab"
              data-bs-target="#description"
              type="button"
              role="tab"
              aria-controls="description"
              aria-selected="true"
            >
              Product Description
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="additional-info-tab"
              data-bs-toggle="tab"
              data-bs-target="#additional-info"
              type="button"
              role="tab"
              aria-controls="additional-info"
              aria-selected="false"
            >
              Additional Information
            </button>
          </li>
        </ul>
      </div>
      <div class="tab-content mt-3" id="productTabsContent">
        <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
          {{ product.description }}
        </div>
        <div class="tab-pane fade" id="additional-info" role="tabpanel" aria-labelledby="additional-info-tab">
          <table>
            <tbody>
              <tr>
                <th>Weight</th>
                <td>5 kg</td>
              </tr>
              <tr>
                <th>Dimensions</th>
                <td>60 × 40 × 60 cm</td>
              </tr>
              <tr>
                <th>other-info</th>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- product-description section end -->

    <!-- reviews section start -->
    <div class="add-review">
      <div class="left">
        <h2>1 review for Armani Exchange AX</h2>
        <div class="d-flex justify-content-between user-review">
          <div class="d-flex gap-4">
            <div>
              {% comment %} <img width="80px" height="auto" src="./theme/images/none.png" alt=""> {% endcomment %}
            </div>
            <div class="d-flex flex-column">
              <p class="mb-1">progatix_store</p>
              <span class="mb-3 text-secondary">December 11, 2023</span>
              <small class="text-secondary">best product</small>
            </div>
          </div>
          <div>
            <ul>
              <li>
                <i class="bi bi-star-fill text-warning"></i>
                <i class="bi bi-star-fill text-warning"></i>
                <i class="bi bi-star-fill text-warning"></i>
                <i class="bi bi-star-fill text-warning"></i>
                <i class="bi bi-star-fill text-warning"></i>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="right">
        <h2>Add a review</h2>
        <p class="text-secondary">Your email address will not be published. Required fields are marked</p>
        <div>
          <label class="m-0 text-secondary">Your rating<span class="text-danger">*</span></label>
          <div class="d-flex gap-4">
            <ul class="star-group">
              <li>
                <i class="bi bi-star-fill"></i>
              </li>
            </ul>
            <ul class="star-group">
              <li>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
              </li>
            </ul>
            <ul class="star-group">
              <li>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
              </li>
            </ul>
            <ul class="star-group">
              <li>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
              </li>
            </ul>
            <ul class="star-group">
              <li>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
              </li>
            </ul>
          </div>
          <div class="mt-3">
            <label class="m-0 text-secondary">Your Review<span class="text-danger">*</span></label>
            <textarea id="comment" name="comment" cols="45" rows="8" required=""></textarea>
          </div>
          <div class="mt-3 d-flex flex-column input-field">
            <label class="m-0 text-secondary">Name<span class="text-danger">*</span></label>
            <input type="name">
          </div>
          <div class="mt-3 d-flex flex-column input-field">
            <label class="m-0 text-secondary">Mail<span class="text-danger">*</span></label>
            <input type="mail" height="100px" width="100%">
          </div>
          <div class="mt-3">
            <input type="checkbox">
            <label for="text" class="text-secondary"
              >Save my name, email, and website in this browser for the next time I comment.</label
            >
          </div>
          <div class="submit-btn mt-3">
            <button>Submit</button>
          </div>
        </div>
      </div>
    </div>
    <!-- reviews section end -->
  </div>
</section>
{% comment %}
  <div class="max-w-6xl mx-auto my-8">
    <div class="grid grid-cols-1 md:grid-cols-2">
      <div class="product--medias">
        {{ product.title }}
        <div class="hidden md:block">
          {% for media in product.media %}
            <div class="h-100 overflow-hidden p-2">
              {% render 'product-media'
                , media: media %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endcomment %}

{% comment %}
  {% render 'product-card'
  , product: product %}
{% endcomment %}
