<section class="product-page-holder">
  <div class="container">
    <div class="product-page-sec mt-5">
      <div class="product-img-gallery px-2">
        <div class="product-img-gallery-container">
          {% for media in product.media %}
            {% case media.media_type %}
              {% when 'image' %}
                <figure
                  class="zoom"
                  onmousemove="zoom(event)"
                  style="background-image: url({{ media |  img_url: 'master' }})"
                >
                  <img
                    src="{{ media |  img_url: 'master' }}"
                    alt="{{ media.preview_image.alt |  escape }}"
                    height="auto"
                    width="auto"
                  >
                </figure>
              {% when 'external_video' %}
                {{ media | external_video_tag: class: 'w-100 h-100' }}
              {% when 'video' %}
                {{ media | video_tag: class: 'w-100 h-100' }}
            {% endcase %}
          {% endfor %}
        </div>
      </div>
      <div class="product-details px-2">
        <div class="product-container">
          <div class="protuct-title">
            <h2>{{ product.title }}</h2>
            <p class="text-secondary">
              Brand: <span class="text-dark">{{ product.vendor }}</span>
            </p>
            {% if product.metafields.custom.short_description != blank %}
              <div class="description mb-2">
                {{ product.metafields.custom.short_description }}
              </div>
            {% endif %}
          </div>
          <div class="mb-2">
            <!-- Start of Judge.me code -->
            <div class="jdgm-widget jdgm-preview-badge" data-id="{{ product.id }}">
              {{ product.metafields.judgeme.badge }}
            </div>
            <!-- End of Judge.me code -->
          </div>
          {% if product.metafields.custom.shipping_fee
            or product.metafields.custom.return_police
            or product.metafields.custom.standard_delivery_details
          %}
            <div class="features">
              <ul class="d-flex flex-column gap-1">
                <li><i class="bi bi-truck"></i>{{ product.metafields.custom.shipping_fee }}</li>
                <li><i class="bi bi-gift"></i>{{ product.metafields.custom.return_police }}</li>
                <li><i class="bi bi-clock"></i>{{ product.metafields.custom.standard_delivery_details }}</li>
              </ul>
            </div>
          {% endif %}
          <div class="buy-proccess d-flex flex-column mt-2">
            <div class="d-flex align-items-center gap-2 mb-2">
              {% if product.compare_at_price != blank %}
                <span><s>${{ product.compare_at_price }}</s></span>
                <span class="text-danger">${{ product.price }}</span>
                {% else %}
                <span>${{ product.price }}</span>
              {% endif %} 
            </div>
            <form method="post" action="/cart/add" class="cart-wishlist-buttons-container">
            <input type="hidden" name="id" value="{{ product.variants.first.id }}">
            <div class="d-flex gap-3 mb-3">
              <select min="1" type="number" id="quantity" name="quantity" value="1" class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                </select>
                <button>Add Prescription</button>
                </div>
                <button href="javascript:void(0);" type="submit" class="add-to-cart">
                  <i class="bi bi-cart"></i> Add to Cart
                </button>
            </form>
            <div class="or mt-3">
              <p>OR</p>
            </div>
            <button class="buy-now-btn border-0"><i class="bi bi-cart"></i> Buy Now</button>
          </div>
          <div class="category-wish-list mt-3">
            {% comment %} <p class="wishlist" ><i class="bi bi-star"></i>Add to Wishlist</p> {% endcomment %}
            <div class="toast-container">
              <div
                class="toast align-items-center text-white bg-success"
                role="alert"
                aria-live="assertive"
                aria-atomic="true"
              >
                <div class="d-flex">
                  <div class="toast-body" id="toastMessage"></div>
                  <button
                    type="button"
                    class="btn-close btn-close-white me-2 m-auto"
                    data-bs-dismiss="toast"
                    aria-label="Close"
                  ></button>
                </div>
              </div>
            </div>
            {% if product.category != blank %}
              <div class="d-flex align-itms-center flex-wrap justify-content-start gap-1">
                <p class="mb-0">Categories:</p>
                <a href="{{ product.url }}" class="mb-0">{{ product.category }}</a>,
              </div>
            {% endif %}
            {% if product.tags != blank %}
              <div class="d-flex align-itms-center flex-wrap justify-content-start gap-1">
                <p class="mb-0">Tags:</p>
                {% for tag in product.tags %}
                  <a href="/collections/{{ tag | handleize }}">{{ tag }}</a>
                {% endfor %}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <!-- product-description section start -->
    <div class="product-description">
      <div class="nav-tabs-btns d-flex justify-content-center">
        <ul class="nav nav-tabs" id="productTabs" role="tablist">
          <li class="nav-item" role="presentation">
            <button
              class="nav-link active"
              id="description-tab"
              data-bs-toggle="tab"
              data-bs-target="#description"
              type="button"
              role="tab"
              aria-controls="description"
              aria-selected="true"
            >
              Product Description
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="additional-info-tab"
              data-bs-toggle="tab"
              data-bs-target="#additional-info"
              type="button"
              role="tab"
              aria-controls="additional-info"
              aria-selected="false"
            >
              Additional Information
            </button>
          </li>
        </ul>
      </div>
      <div class="tab-content mt-3" id="productTabsContent">
        <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
          {{ product.description }}
        </div>
        <div class="tab-pane fade" id="additional-info" role="tabpanel" aria-labelledby="additional-info-tab">
          <table>
            <tbody>
              <tr>
                <th>Weight</th>
                <td>{{ product.variants.first.weight | weight_with_unit }}</td>
              </tr>
              <tr>
                <th>Dimensions</th>
                <td>
                  {% if product.metafields.custom.length and product.metafields.custom.width and product.metafields.custom.height %}
                      Dimensions: 
                      {{ product.metafields.custom.length.value }} x 
                      {{ product.metafields.custom.width.value }} x 
                      {{ product.metafields.custom.height.value }} 
                      {{ product.metafields.custom.length.unit }}
                  {% else %}
                    <p>Dimensions are not available for this product.</p>
                  {% endif %}
                </td>
              </tr>
              <tr>
                <th>other-info</th>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- product-description section end -->

    <!-- reviews section start -->
    {% comment %}
      <div class="add-review">
        <div class="left">
          <h2>1 review for Armani Exchange AX</h2>
          <div class="d-flex justify-content-between user-review">
            <div class="d-flex gap-4">
              <div>
              </div>
              <div class="d-flex flex-column">
                <p class="mb-1">progatix_store</p>
                <span class="mb-3 text-secondary">December 11, 2023</span>
                <small class="text-secondary">best product</small>
              </div>
            </div>
            <div>
              <ul>
                <li>
                  <i class="bi bi-star-fill text-warning"></i>
                  <i class="bi bi-star-fill text-warning"></i>
                  <i class="bi bi-star-fill text-warning"></i>
                  <i class="bi bi-star-fill text-warning"></i>
                  <i class="bi bi-star-fill text-warning"></i>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="right">
          <h2>Add a review</h2>
          <p class="text-secondary">Your email address will not be published. Required fields are marked</p>
          <div>
            <label class="m-0 text-secondary">Your rating<span class="text-danger">*</span></label>
            <div class="d-flex gap-4">
              <ul class="star-group">
                <li>
                  <i class="bi bi-star-fill"></i>
                </li>
              </ul>
              <ul class="star-group">
                <li>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                </li>
              </ul>
              <ul class="star-group">
                <li>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                </li>
              </ul>
              <ul class="star-group">
                <li>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                </li>
              </ul>
              <ul class="star-group">
                <li>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                  <i class="bi bi-star-fill"></i>
                </li>
              </ul>
            </div>
            <div class="mt-3">
              <label class="m-0 text-secondary">Your Review<span class="text-danger">*</span></label>
              <textarea id="comment" name="comment" cols="45" rows="8" required=""></textarea>
            </div>
            <div class="mt-3 d-flex flex-column input-field">
              <label class="m-0 text-secondary">Name<span class="text-danger">*</span></label>
              <input type="name">
            </div>
            <div class="mt-3 d-flex flex-column input-field">
              <label class="m-0 text-secondary">Mail<span class="text-danger">*</span></label>
              <input type="mail" height="100px" width="100%">
            </div>
            <div class="mt-3">
              <input type="checkbox">
              <label for="text" class="text-secondary"
                >Save my name, email, and website in this browser for the next time I comment.</label
              >
            </div>
            <div class="submit-btn mt-3">
              <button>Submit</button>
            </div>
          </div>
        </div>
      </div>
    {% endcomment %}
    <!-- reviews section end -->
    <!-- Start of Judge.me code -->
    <div style="clear:both"></div>
    <div
      id="judgeme_product_reviews"
      class="jdgm-widget jdgm-review-widget"
      data-product-title="{{ product.title | escape }}"
      data-id="{{ product.id }}"
      data-auto-install="false"
    >
      {{ product.metafields.judgeme.widget }}
    </div>
    <!-- End of Judge.me code -->
  </div>
</section>
